ion-content {
    height: 100%;

    .home-row {
        margin-top: 4rem;
    }

    .unlock-img {
        width: 10rem;
        margin-bottom: 2rem;
    }

    .button {
        margin-top: 2rem;
    }
}
